PORT=5000
# If using local MongoDB: mongodb://127.0.0.1:27017/augenblick
# If using MongoDB Atlas: mongodb+srv://<user>:<password>@cluster.mongodb.net/augenblick
MONGODB_URI=mongodb://127.0.0.1:27017/augenblick
